.admin-container {
    padding: 60px;
    max-width: 700px;
    margin: auto;
}

.admin-container input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.admin-container button {
    padding: 8px 15px;
    border: none;
    background: #4F46E5;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.admin-event-item {
    margin-top: 10px;
    padding: 10px;
    background: #eee;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
}
